<server description="defaultServer">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password"/>
    </basicRegistry>

    <keyStore id="defaultKeyStore" location="/config/resources/security/key.p12" type="PKCS12" password="${{ secrets.KEYSTORE_PASSWORD }}"/>
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" sslRef="defaultSSLSettings"/>
    <ssl id="defaultSSLSettings" keyStoreRef="defaultKeyStore"/>

    <dataSource id="postgresql" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="PostgresJDBCDriver"/>
        <properties.postgresql
                serverName="168.119.125.52"
                portNumber="5432"
                databaseName="${env.POSTGRES_DB}"
                user="${env.POSTGRES_USER}"
                password="${env.POSTGRES_PASSWORD}"/>

    </dataSource>

    <library id="PostgresJDBCDriver">
        <fileset dir="${shared.resource.dir}" includes="*.jar"/>
    </library>

    <webApplication location="actions-demo.war" contextRoot="/"/>
</server>